body {
	margin: 0;
	padding: 0;
	background-image: url("images/wood-floor-pattern.png");
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: 'Abel', sans-serif;
	color: #5E5E5E;
	text-align:center;
}
h2 {
	font-size: 1.8em;
}

#header {
	background-color: #333;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #EAEAEA;
	overflow: hidden;
}

#header ul {
	list-style-type: none;
	width: 50%;
    margin: 0 auto;
    padding: 0px 0px 0px 550px;
    overflow: hidden;
    background-color: #333;

}

#header li {
    float: left;
}

#header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #111;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	padding: 24px 20px 22px 0px;
	margin-right: 20px;
	border-right: 1px solid #EAEAEA;
	
		//background-color: rgba(255, 255, 255, 0.9);
}

#wrapper-main {
	height: 100%;
	width: 100%;
}


#home-page {
	height:100px;
}

#home-page p {
	padding-left: 20px;
}

#resume-page {
	height:100%;
}

#resume-page li {
	padding-bottom: 2px;
}

#resume-header {
    overflow: auto;
}

#resume-header-left {
	float: left;
	text-align: left;
	width: 150px;
	margin-left: 200px;
}

#resume-header-right {
	float: right;
	text-align: right;
	width: 350px;
	margin-right: 220px;
}

#resume-header-line {
	border-bottom-style: solid;
	border-width: 2px;
	clear: left;
}


#resume-footer {
	text-align:center;
	font-weight: bold;
}

#projects li {
	padding-bottom: 5px;
}

#resources h2 {
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: underline;
}

#resources li {
	padding-bottom: 5px;
}

#resources ul {
	padding-left: 100px;
}

.body {
	width: 50%;
	margin: 50px auto;
	padding: 20px 0px 20px 0px;
	box-shadow: 10px 10px 5px #888888;
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
}

.center-text {
	text-align: center;
}

.resume-footer {

   display: inline-block;
}

.company-name {
	padding: 0px 0px 0px 45px;
	margin-bottom: 0px;
	display: inline;
}

.company-year1 {
	padding: 0px 0px 0px 300px;
	display: inline;
}

.company-year2 {
	padding: 0px 0px 0px 258px;
	display: inline;
}

.position-title {
	padding: 0px 0px 0px 45px;
	margin-top: 0px;
}